@import url('https://fonts.cdnfonts.com/css/steeltongs');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

#page_title {
	font-family: 'Steel Tongs Esp', sans-serif;
	font-size: 3.5em;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}

#page_subtitle {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.1em;
}

body {
	background-color: #222;
}

aside {
	background-color: #111;
}

a {
	color: #4df;
}

a:hover {
	color: #fff;
}

.tag-cloud a {
	background-color: #047;
}

main article :not(pre)>code {
	background-color: #111;
	color: #fff
}